datasets/dataset_v0.json
.DS_Store

datasets/finance_dataset_final.json
datasets/test_dataset_16000.json
models/phi3_financial/adapter_model.safetensors
models/phi3_financial/tokenizer.json
models/phi3_financial/tokenizer_config.json
models/phi3_financial/adapter_config.json
models/phi3_financial/special_tokens_map.json

datasets/finance_dataset_final.json
datasets/test_dataset_16000.json
models/phi3_financial/adapter_model.safetensors
models/phi3_financial/tokenizer.json
models/phi3_financial/tokenizer_config.json
models/phi3_financial/adapter_config.json
models/phi3_financial/special_tokens_map.json
